@model IEnumerable<PixieStore.Models.productCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_Update)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_CatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_Update)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
